auto-install-peers = true
public-hoist-pattern[]=*storybook*
# registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
# registry=https://registry.npmjs.org/
# always-auth=true
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@devades:registry=https://npm.pkg.github.com